body {
	background-color: #263343;
}

.home {
	font-size: 24px;
	text-align: right;
	margin-right: 1rem;
}

.mypagebox {
	width: 40%;
	height: 90vh;
	margin-left: 30%;
	margin-top: 2rem;
	background-color: white;
	border-radius: 10px;
}


.mypagemenu {
	padding: 15px 0px 10px 0px;
}

.profile {
	border: 3px solid black;
	width: 25%;
	height: 20vh;
	border-radius: 50%;
	cursor: pointer;
	margin: 20px 0px 20px 0px;
}

.submitbox {
	border: 1px solid white;
	background-color: #263343;
	cursor: pointer;
	color: white;
	margin-top: 0.5rem;
}

.submitbox:hover {
	background-color: white;
	border: 1px solid #263343;
	color: #263343;
}

.save {
	cursor: pointer;
}

@media screen and (max-width: 1140px) {
	.mypagebox {
		border: 3px solid white;
		width: 80%;
		height: 110vh;
		margin-left: 10%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
	.preview {
		border: 3px solid white;
		width: 40%;
		height: 20vh;
		border-radius: 50%;
		cursor: pointer;
		margin: 20px 0px 20px 0px;
	}
}

























