<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.minibean.timewizard.model.dto.UserInfoDto" alias="UserInfoDto"/>
		<typeAlias type="com.minibean.timewizard.model.dto.ChatDto" alias="ChatDto"/>
		<typeAlias type="com.minibean.timewizard.model.dto.UserTodoDto" alias="TodoDto"/>
		<typeAlias type="com.minibean.timewizard.model.dto.NoticeDto" alias="NoticeDto"/>
	</typeAliases>
	<mappers>
		<mapper resource="/mybatis/user_info-mapper.xml" />
		<mapper resource="/mybatis/chat-mapper.xml"/>
		<mapper resource="/mybatis/user_todo-mapper.xml"/>
		<mapper resource="/mybatis/notice-mapper.xml"/>
	</mappers>
</configuration>
