<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat-mapper">
  <select id="selectList" resultType="ChatDto">
  		SELECT * FROM CHAT
  	</select>	
  	<select id="selectOne" resultType="ChatDto">
  		SELECT * 
  		FROM CHAT WHERE USER_ID = #{user_id}
  		
  	</select>	
  	<insert id="insert">
  		INSERT INTO CHAT VALUES(CHAT_SEQ.NEXTVAL, 1, #{user_id}, #{chat_content});
  	</insert>
  	<delete id="delete">
  		DELETE FROM CHAT WHERE USER_ID = #{user_id}
  	</delete>
  	<!--  
  	보류
  	<update id="update">
  		UPDATE MYBOARD SET MYTITLE = #{mytitle}, MYCONTENT = #{mycontent} WHERE MYNO = #{myno}
  	</update>
  	-->
</mapper>
