<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minibean.timewizard.friend">
  	
	<!-- 나와 친구인 유저들 리스트 출력 -->
	<select id="selectListF" resultType="FriendDto" parameterType="int">
		SELECT ui.USER_NO, ui.USER_ID ,ui.USER_NAME,
			 ui.USER_PHOTO, ui.USER_ACTIVE
		FROM FRIEND_LIST fl JOIN USER_INFO ui ON ui.USER_NO = fl.USER_NO
		WHERE fl.FRIEND_NO =(
			SELECT ui.USER_NO
			FROM USER_INFO ui
			WHERE ui.USER_NO = #{user_no})
	</select>

	<!-- 친구가 아닌 리스트 출력 -->
	<select id="selectListN" resultType="FriendDto" parameterType="int">
		SELECT ui.USER_NO, ui.USER_NAME
		FROM USER_INFO ui
		WHERE USER_NO != #{user_no}
		AND USER_NO 
		NOT IN(
			SELECT fl.FRIEND_NO
			FROM FRIEND_LIST fl
			JOIN FRIEND_LIST fl2
			ON fl.FRIEND_NO = fl2.USER_NO
			AND fl.USER_NO = fl2.FRIEND_NO
			WHERE fl.USER_NO = #{user_no})
	</select>
	
</mapper>
