<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">
 
 	<!-- 총 게시글 갯수 출력 -->
	<select id="countpage" resultType="int">
		SELECT COUNT(*)
		FROM BOARD_NOTICE
	</select>
	 
	 <!-- paging과 list출력 -->
	<select id="selectList" parameterType="com.minibean.timewizard.model.dto.PagingDto">
		SELECT *
		FROM(
			SELECT ROWNUM RN, NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGDATE
			FROM(
				SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGDATE
				FROM BOARD_NOTICE
				ORDER BY NOTICE_NO DESC
				)A
			)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- insert, update, delete만 해주면 됩니다!!! -->



</mapper>
