<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply-mapper">

	<select id="replyList" resultType="ReplyDto">
		SELECT *
		FROM BOARD_REPLY
		WHERE NOTICE_NO = #{notice_no}
		ORDER BY REPLY_REGDATE DESC
	</select>
	
	<insert id="insertReply" parameterType="ReplyDto">
		INSERT INTO BOARD_REPLY	
		VALUES(BOARD_REPLY_SEQ.NEXTVAL, #{notice_no}, #{user_no}, #{reply_content}, SYSDATE)
		
	</insert>
		
	<update id="updateReply" parameterType="ReplyDto">
		UPDATE BOARD_REPLY SET
			CONTENT = #{content}
			WHERE 
				REPLY_NO = #{reply_no}
	</update>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM BOARD_REPLY
		WHERE 
			REPLY_NO = #{reply_no}
	</delete>
	
	
</mapper>


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































