<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minibean.timewizard.usertodo">
	<select id="selectList" parameterType="int" resultType="TodoDto">
	  	SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	TODO_HASHTAG, TODO_DATE, TODO_COMPLETE
	  	FROM USER_TODO
	  	WHERE USER_NO = #{user_no} 
	</select>
	<select id="selectListTodoDate" parameterType="hashmap" resultType="TodoDto">
	  	SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	TODO_HASHTAG, TODO_DATE, TODO_COMPLETE
	  	FROM USER_TODO
	  	WHERE USER_NO = #{user_no} 
	  	AND TO_CHAR(TODO_DATE, 'YYYYMMDD') = #{todo_date}
	  	ORDER BY TODO_NO
	</select>
	<select id="countList" parameterType="int" resultType="int">
		SELECT COUNT(TODO_NO)
		FROM USER_TODO
		WHERE USER_NO = #{user_no}
	</select>
	<!-- selectListTodoDate & selectOne :	STOPWATCH 테이블과 JOIN하여 시간도 가져와야 합니다 -->
	<select id="selectOne" parameterType="int" resultType="TodoDto">
	    SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	TODO_HASHTAG, TODO_DATE, TODO_COMPLETE
	  	FROM USER_TODO
	  	WHERE TODO_NO = #{todo_no}
	</select>
	<!-- todo_no의 이름에 rownum이 들어가면 좋겠는데...... -->
	<insert id="insert" parameterType="TodoDto">
	  	INSERT INTO USER_TODO
	  	VALUES(USER_TODO_SEQ.NEXTVAL, #{user_no}, #{todo_title}, #{todo_color}, #{todo_content},
	  	#{todo_category}, #{todo_hashtag}, #{todo_date}, #{todo_complete})
	</insert>
	<insert id="insertExample" parameterType="int">
	  	INSERT INTO USER_TODO
	  	VALUES(USER_TODO_SEQ.NEXTVAL, #{user_no}, '할 일 제목', '#6A5ACD', '설명을 기재하는 란입니다.',
	  	'예시', '#해시태그1 #해시태그2 #해시태그3 ', SYSDATE, 'N')
	</insert>
	<update id="update" parameterType="TodoDto">
	  	UPDATE USER_TODO SET TODO_TITLE = #{todo_title}, TODO_COLOR = #{todo_color},
	  	TODO_CONTENT = #{todo_content}, TODO_CATEGORY = #{todo_category},
	  	TODO_HASHTAG = #{todo_hashtag}, TODO_COMPLETE = #{todo_complete}
	  	WHERE TODO_NO = #{todo_no}
	</update>
	<delete id="delete" parameterType="int">
	  	DELETE FROM USER_TODO
	  	WHERE TODO_NO = #{todo_no}
	</delete>
</mapper>
