<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mvc.upgrade.myboard">

	<!-- 총 게시글 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*)
		FROM MYBOARD
	</select>

	<!-- 페이징 처리 후 게시글 조회 -->
	<select id="selectList" parameterType="com.mvc.upgrade.model.dto.PagingDto" resultType="BoardDto">
		SELECT *
			FROM(
				SELECT ROWNUM RN, MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
					FROM(
						SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
						FROM MYBOARD
						ORDER BY MYNO DESC
						)A
				)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectOne" parameterType="int" resultType="BoardDto">
		SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
		FROM MYBOARD
		WHERE MYNO = #{myno}
	</select>
	
	<insert id="insert" parameterType="BoardDto">
		INSERT INTO MYBOARD
		VALUES (MYNOSEQ.NEXTVAL, #{myname}, #{mytitle}, #{mycontent}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="BoardDto">
		UPDATE MYBOARD
		SET MYTITLE = #{mytitle}, MYCONTENT = #{mycontent}
		WHERE MYNO = #{myno}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM MYBOARD
		WHERE MYNO = #{myno}
	</delete>

</mapper>
